//- templete layout
doctype html
html(lang='en')
  head

    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='icon' type='image/png' href='assets/images/favicon.ico')
    link(href='https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&display=swap' rel='stylesheet')

    //- Title
  block title
    title Your Proyects

  body

    //- block content
    block main

    //- block scripts
    block scripts
