//color background
$mainColor:#FFFFFF;
$firstGradient:#69EACB;
$secondGradient:#EACCF8 ;
$thirdGradient:#6654F1 ;

//Game Colors
$red: #8c0000;
$blue:#000071;
$yellow:#a8a800;
$green:#004f00;

$redActive: #ff0000;
$blueActive:#0000ff;
$yellowActive:#ffff00;
$greenActive:#00ff00;


//Font Color
$colorFont:#000;