.play__modal
    .play__modal__display
        .play__token
            h2.play__tile Human
            .token.token__select--human
                img(src="", alt="token")
        .result
            h2.round_num Round 1
            h3.result__title Vs
            h4.result__round "You lose"
        .play__token
            h2.play__tile Computer
            .token.token__select--computer
                img(src="", alt="token")