extends templates/template.pug

block title
  title Home - Reloj Analógico

block main
    #clock.clock-container
      .hour
        span.hour__span.hour__span--h1 1
        span.hour__span.hour__span--h2 2
        span.hour__span.hour__span--h3 3
        span.hour__span.hour__span--h4 4
        span.hour__span.hour__span--h5 5
        span.hour__span.hour__span--h6 6
        span.hour__span.hour__span--h7 7
        span.hour__span.hour__span--h8 8
        span.hour__span.hour__span--h9 9
        span.hour__span.hour__span--h10 10
        span.hour__span.hour__span--h11 11
        span.hour__span.hour__span--h12 12
      .needle
        .needle--hour
        .needle--minutes
        .needle--seconds
     
