.modalUser
    h2.modalUser__title Enter Your Username
    form.modalUser__form
        input(type="text" placeholder="Username" name="username").input__name
        input(type="submit" value="Send").input__submit