@font-face {
    font-family: "game_timemedium";
    src: url("../files/game_time-webfont.woff2") format("woff2"),
      url("../files/game_time-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  